<app-header></app-header>

<section class="main-wrapper bg-light">
  <div class="cgl-live-chat">
    <div class="chat-wrapper">
      <div class="chat-title">Web Socket</div>
      <div class="chat-view">
        <div class="chat-item">
          <div class="d-flex">
            <img
              src="../../../assets/images/profile.png"
              height="25"
              width="25"
            />
            <div class="p-1">
              <div class="d-flex align-items-end">
                <div class="sender-name"><a href="#">#Surya Prakash</a></div>
                <div class="chat-time">09:54 24/05/21</div>
              </div>
              <div class="float-right">
                <button
                  type="button"
                  class="dropdown-btn btn-tr p-2"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item" href="#">Report</a>
                  <a class="dropdown-item" href="#">Block</a>
                </div>
              </div>
              <div class="chat-text">Hello guys! lets get into the party</div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-message">
        <form [formGroup]="chatFormGroup" (ngSubmit)="onSubmit()">
          <input type="text" formControlName="message" placeholder="Message" />
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="chatFormGroup.invalid"
          >
            <img
              src="../../../assets/images/right-arrow.png"
              width="25"
              height="25"
            />
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
