* {
  padding: 0;
  margin: 0;
}

.main-wrapper {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background-color: #ffc300;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: rgb(255, 255, 255);
  border-radius: 30px;
}
/*-----------------------LIVE CHAT-------------------------*/
.cgl-live-chat {
  max-width: 550px;
  width: 100%;
  height: 50%;
}
.cgl-live-chat .chat-wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-sizing: border-box;
}

.cgl-live-chat .chat-wrapper .chat-title {
  padding: 10px;
  font-family: "Chakra Petch", "Zilla Slab", sans-serif, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  background-color: #eaf2f8;
  border-radius: 5px;
}

.cgl-live-chat .chat-wrapper .chat-view {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  /*    justify-content: flex-end;*/
}

.cgl-live-chat .chat-wrapper .chat-item {
  padding: 5px;
}

.cgl-live-chat .chat-wrapper .chat-view img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cgl-live-chat .chat-wrapper .chat-view .sender-name a {
  font-family: "Chakra Petch", "Zilla Slab", sans-serif, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  color: #070707;
}

.cgl-live-chat .chat-wrapper .chat-view .sender-name a:hover {
  color: #ffffff;
  font-weight: bold;
}

.cgl-live-chat .chat-wrapper .chat-view .admin-tag a {
  background-color: #4368ea !important;
  color: #ffffff !important;
  border-radius: 9px;
  padding: 0 8px;
}

.cgl-live-chat .chat-wrapper .chat-view .chat-time {
  font-family: "Chakra Petch", "Zilla Slab", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  padding-left: 8px;
  padding-right: 8px;
  color: #060302;
}

.cgl-live-chat .chat-wrapper .chat-view .chat-time i {
  display: none;
}

.cgl-live-chat .chat-wrapper .chat-view .chat-pinned {
  border: 2px solid #7389dc;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #11151a;
}

.chat-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.cgl-live-chat .chat-wrapper .chat-view .chat-pinned .chat-time i {
  display: inline;
}

.cgl-live-chat .chat-wrapper .chat-view .chat-text {
  font-family: "Chakra Petch", "Zilla Slab", sans-serif, serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  padding: 3px;
  color: #9fadc5;
}

.cgl-live-chat .chat-wrapper .chat-message {
  background-color: rgb(255, 255, 255);
  padding: 6px;
}

.cgl-live-chat .chat-wrapper .chat-message input {
  background-color: #d6dbdf;
  border: none !important;
  font-family: "Chakra Petch", "Zilla Slab", sans-serif, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #070707;
  outline: none !important;
  border-radius: 5px;
  width: 90%;
}

.cgl-live-chat .chat-wrapper .chat-message {
  background-color: transparent;
  border: none;
  outline: none;
}
.cgl-live-chat .chat-wrapper .dropdown-menu {
  background-color: rgb(255, 255, 255);
}
.cgl-live-chat .chat-wrapper .dropdown-menu .dropdown-item {
  color: rgb(255, 255, 255);
  font-family: "Chakra Petch", "Zilla Slab", sans-serif, serif;
  font-style: normal;
  font-weight: 300;
}
.cgl-live-chat .chat-wrapper .dropdown-menu .dropdown-item:hover {
  background-color: rgb(255, 255, 255);
}
@media (max-width: 450px) {
  .cgl-live-chat .chat-wrapper .chat-view {
    max-height: 300px;
  }

  .cgl-live-chat .chat-wrapper .chat-view img {
    width: 30px;
    height: 30px;
  }

  .cgl-live-chat .chat-wrapper .chat-view .sender-name a {
    font-size: 10px;
    line-height: 10px;
  }

  .cgl-live-chat .chat-wrapper .chat-view .chat-time {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .cgl-live-chat .chat-wrapper .chat-view .chat-text {
    font-size: 12px;
    line-height: 12px;
    padding: 3px;
  }
}

.dropdown-btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  outline: none !important;
}
