.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../../assets/images/cover-activate3.png");
  background-size: cover;
  background-position: center center;
}

.form-control {
  font-weight: 600;
}
